<nz-card [nzBordered]="false">
    <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()" class="search__form">
        <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
            <nz-col nzMd="8" nzSm="24">
                <nz-form-item>
                    <nz-form-label nzFor="name">姓名</nz-form-label>
                    <nz-form-control>
                        <input nz-input [(ngModel)]="q.name" name="name" placeholder="请输入" id="name">
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            <nz-col nzMd="8" nzSm="24">
                <nz-form-item>
                    <nz-form-label nzFor="weChatNo">微信号</nz-form-label>
                    <nz-form-control>
                        <input nz-input [(ngModel)]="q.weChatNo" name="weChatNo" placeholder="请输入" id="weChatNo">
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            <nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
                <nz-form-item>
                    <nz-form-label nzFor="phone">手机号</nz-form-label>
                    <nz-form-control>
                        <input nz-input [(ngModel)]="q.telephone" name="telephone" placeholder="请输入" id="telephone">
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            <nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
                <nz-form-item>
                    <nz-form-label nzFor="createDate">注册日期</nz-form-label>
                    <nz-form-control>
                        <input nz-input [(ngModel)]="q.createDate" name="createDate" placeholder="请输入" id="createDate">
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
                <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
                <button nz-button type="reset" (click)="st.load(1)" class="mx-sm">重置</button>
                <a (click)="expandForm=!expandForm">
                    {{expandForm ? '收起' : '展开'}}
                    <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
                </a>
            </nz-col>
        </nz-row>
    </form>
    <simple-table #st [columns]="columns" [data]="data" [loading]="loading"
                  (checkboxChange)="checkboxChange($event)"
                  (filterChange)="getData()">

    </simple-table>
</nz-card>
