<weui-tabbar>
  <weui-tab heading="首页"  [icon]="'<img src=./assets/images/icon_tabbar.png>'">
    <app-wechat-home></app-wechat-home>
  </weui-tab>
  <weui-tab heading="我的订单" [icon]="'<img src=./assets/images/icon_tabbar.png>'">
    <article class="weui-article">
      <h1>我的订单</h1>

    </article>
  </weui-tab>
  <weui-tab heading="购物车" [icon]="'<img src=./assets/images/icon_tabbar.png>'">
    <article class="weui-article">
      <h1>购物车</h1>
    </article>
  </weui-tab>
  <weui-tab heading="个人中心" [icon]="'<img src=./assets/images/icon_tabbar.png>'">
    <article class="weui-article">
      <h1>个人中心</h1>
    </article>
  </weui-tab>
</weui-tabbar>
