<page-header [title]="'订单查询'"></page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" [formData]="params" (formSubmit)="submit($event)" (formReset)="st.reset(params)"></sf>
  <simple-table #st [data]="url" [resReName]="{list: 'result'}"  [columns]="columns" [extraParams]="params" [ps]="2" [scroll]="{x: '2500px'}">
    <ng-template st-row="shipAddress" let-item let-index="index">
      <nz-tooltip [nzTitle]="'收货地址：' + item.address">
        <span nz-tooltip>{{item.province}} {{item.city}} {{item.country}} {{item.address}}</span>
      </nz-tooltip>
    </ng-template>
  </simple-table>
</nz-card>
