<script src="product-list.component.ts"></script>
<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'">
    <!--<standard-form-row [title]="'所属类别'" block style="padding-bottom: 11px;">
      <nz-form-item>
        <nz-form-control>
          <tag-select>
            <nz-tag *ngFor="let i of categories; let idx = index" nzMode="checkable" [nzChecked]="i.value" (nzCheckedChange)="changeCategory($event, idx)">
              {{i.text}}
            </nz-tag>
          </tag-select>
        </nz-form-control>
      </nz-form-item>
    </standard-form-row>-->
    <!--<standard-form-row [title]="'其它选项'" grid last>
      <nz-row [nzGutter]="16">
        <nz-col nzXl="8" nzLg="10" nzMd="12" nzSm="24" nzXs="24">
          <nz-form-item>
            <nz-form-label nzFor="rate">活跃用户</nz-form-label>
            <nz-form-control>
              <nz-select [(ngModel)]="q.user" name="user" [nzPlaceHolder]="'不限'" [nzShowSearch]="true" style="width: 200px;">
                <nz-option [nzLabel]="'李三'" [nzValue]="'lisa'"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col nzXl="8" nzLg="10" nzMd="12" nzSm="24" nzXs="24">
          <nz-form-item>
            <nz-form-label nzFor="rate">好评度</nz-form-label>
            <nz-form-control>
              <nz-select [(ngModel)]="q.rate" name="rate" [nzPlaceHolder]="'不限'" [nzShowSearch]="true" style="width: 200px;">
                <nz-option [nzLabel]="'优秀'" [nzValue]="'good'"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>
    </standard-form-row>-->
  </form>
</nz-card>
<nz-list [nzLoading]="loading" [nzRenderItem]="item" [nzDataSource]="list" [nzGrid]="{gutter: 24, lg: 6, md: 8, sm: 12, xs: 24 }">
  <ng-template #item let-item>
    <nz-list-item>
      <button *ngIf="item === 'null'" nz-button (click)="addProduct()" [nzType]="'dashed'" style="width: 100%; height: 280px">
        <i class="anticon anticon-plus"></i>
        <span>新增产品</span>
      </button>
      <nz-card nzHoverable  [nzActions]="[op1,op2]" [nzCover]="cover" *ngIf="item !== 'null'">
        <ng-template #op1>
          <nz-tooltip [nzTitle]="'编辑'">
            <i nz-tooltip class="anticon anticon-edit" (click)="updateProduct(item)"></i>
          </nz-tooltip>
        </ng-template>
        <ng-template #op2>
          <nz-tooltip [nzTitle]="'删除'">
            <i nz-tooltip class="anticon anticon-delete" (click)="remove(item)"></i>
          </nz-tooltip>
        </ng-template>
        <ng-template #cover>
          <img alt="{{item.productName}}" src="{{item.imageUrl + item.productNo + '/' +item.cover}}">
        </ng-template>
        <nz-card-meta [nzTitle]="nzTitle">
          <ng-template #nzTitle>
            <a (click)="msg.success('商品编号：' + item.productNo);">{{item.productName}}</a>
          </ng-template>
        </nz-card-meta>
        <div class="card-item-content">
          <span class="text-grey">成分：{{item.ingredient}}</span>
        </div>
      </nz-card>
    </nz-list-item>
  </ng-template>
</nz-list>
