<page-header [title]="''"></page-header>
<nz-card>

  <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()" class="search__form">
    <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
      <nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label  nzFor="name">姓名</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="params.name" name="name" placeholder="请输入" id="name">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label  nzFor="telephone">手机号</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="params.telephone" name="telephone" placeholder="请输入" id="telephone">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <button nz-button type="submit" [nzType]="'primary'">查询</button>
      <button nz-button   class="mx-sm" (click)="reset()">重置</button>
    </nz-row>
  </form>

  <nz-table #nzTable [nzData]="data">
    <thead>
    <tr>
      <th >姓名</th>
      <th >性别</th>
      <th >等级</th>
      <th >手机号</th>
      <th >微信号</th>
      <th >微信名</th>
      <th>地址</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-data [ngForOf]="nzTable.data">
      <ng-template ngFor let-item [ngForOf]="expandDataCache[data.id]">
        <tr *ngIf="(item.parent&&item.parent.expand)||!(item.parent)">
          <td [nzIndentSize]="item.level1*20" [nzShowExpand]="!!item.children && item.children.length >0" [(nzExpand)]="item.expand" (nzExpandChange)="collapse(expandDataCache[data.id],item,$event)">
            {{item.name}}
          </td>
          <td>{{item.gender | genderPipe}}</td>
          <td>{{item.level | levelPipe}}</td>
          <td>{{item.telephone}}</td>
          <td>{{item.wechat}}</td>
          <td>{{item.likeName}}</td>
          <td>{{item.address}}</td>
          <td (click)="updrade(item)"><a>{{item.parentId != null? '代理升级' : null}}</a></td>
        </tr>
      </ng-template>
    </ng-template>
    </tbody>
  </nz-table>
</nz-card>

<nz-modal [(nzVisible)]="isVisible" nzTitle="代理升级" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
  <nz-form-label nzSpan="5" nzRequired>代理等级</nz-form-label>
  <nz-form-control [nzSpan]="19">
    <nz-select style="width: 100%;" [(ngModel)]="updateLevel">
      <nz-option [nzLabel]="'普通会员'" [nzValue]="0"></nz-option>
      <nz-option [nzLabel]="'琥珀'" [nzValue]="1"></nz-option>
      <nz-option [nzLabel]="'水晶'" [nzValue]="2"></nz-option>
      <nz-option [nzLabel]="'欧珀'" [nzValue]="3"></nz-option>
      <nz-option [nzLabel]="'红宝石'" [nzValue]="4"></nz-option>
      <nz-option [nzLabel]="'翡翠'" [nzValue]="5"></nz-option>
      <nz-option [nzLabel]="'钻石'" [nzValue]="6"></nz-option>
    </nz-select>
  </nz-form-control>
</nz-modal>
