<page-header [title]="'管理员列表'"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" class="search__form">
    <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
      <nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="loginName">用户名</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="query.loginName" name="loginName" placeholder="请输入" id="loginName">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
        <button nz-button  [nzType]="'primary'" [nzLoading]="loading" (click)="submit()">查询</button>
        <button nz-button (click)="reset($event)" [nzLoading]="false" class="mx-sm">重置</button>
        <a (click)="expandForm=!expandForm">
          {{expandForm ? '收起' : '展开'}}
          <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
        </a>
      </nz-col>
    </nz-row>
  </form>
  <a routerLink="/user/add">添加</a>
  <!--<button nz-button (click)="add()" [nzType]="'primary'">-->
    <!--<i class="anticon anticon-plus"></i>-->
    <!--<span>新建</span>-->
  <!--</button>-->

  <simple-table #st [data]="url" [extraParams]="query" [reqReName]="{pi: 'pageNumber', ps: 'pageSize'}"
                [columns]="columns" [ps]="1" [sortReName]="{ascend: 'ASC', descend: 'DESC'}"
                (sortChange)="sortChange($event)"
                [resReName]="{list: 'result.data', total: 'result.pagination.total'}"
                showQuickJumper showSizeChanger>
  </simple-table>
</nz-card>
