<!--<nz-spin *ngIf="!item" class="modal-spin"></nz-spin>-->
<!--<nz-card [nzBordered]="false">-->
  <form nz-form [formGroup]="form">
    <!--<div class="clearfix">-->

    <nz-form-item>
      <nz-form-label nzSpan="5" nzRequired nzFor="productNo">商品编号</nz-form-label>
      <nz-form-control nzSpan="7">
        <input nz-input formControlName="productNo" id="productNo">
      </nz-form-control>

      <nz-form-label nzSpan="5" nzRequired nzFor="productName">商品名称</nz-form-label>
      <nz-form-control nzSpan="7">
        <input nz-input formControlName="productName" id="productName">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <!--      <nz-form-label nzSpan="5" nzRequired>售卖规格</nz-form-label>
            <nz-form-control [nzSpan]="7">
              <nz-select formControlName="specification">
                <nz-option [nzLabel]="'件'" [nzValue]="'0'"></nz-option>
                <nz-option [nzLabel]="'个'" [nzValue]="'1'"></nz-option>
                <nz-option [nzLabel]="'箱'" [nzValue]="'2'"></nz-option>
              </nz-select>
            </nz-form-control>-->
      <nz-form-label nzSpan="5" nzRequired>零售价</nz-form-label>
      <nz-form-control [nzSpan]="7">
        <input nz-input formControlName="amount" id="amount">
      </nz-form-control>
      <nz-form-label nzSpan="5" nzRequired>会员价</nz-form-label>
      <nz-form-control [nzSpan]="7">
        <input nz-input formControlName="vipAmount" id="vipAmount">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzSpan="5" nzRequired nzFor="productCover">商品封面</nz-form-label>
      <nz-form-control nzSpan="19">
        <nz-upload
          nzListType="picture-card"
          [(nzFileList)]="coverList"
          [nzShowButton]="coverList.length < 1"
          [nzBeforeUpload]="beforeUpload"
          [nzCustomRequest]="customReq"
          [nzPreview]="handlePreview">
          <i class="anticon anticon-plus"></i>
        </nz-upload>
        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
          <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
          </ng-template>
        </nz-modal>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzSpan="5" nzRequired nzFor="productImage">商品图片</nz-form-label>
      <nz-form-control nzSpan="19">
        <nz-upload
          nzListType="picture-card"
          [(nzFileList)]="fileList"
          [nzShowButton]="fileList.length < 6"
          [nzBeforeUpload]="beforeUpload"
          [nzCustomRequest]="customReq"
          [nzPreview]="handlePreview">
          <i class="anticon anticon-plus"></i>
        </nz-upload>
        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
          <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
          </ng-template>
        </nz-modal>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzSpan="5" nzRequired nzFor="description">产品信息</nz-form-label>
      <nz-form-control nzSpan="19">
        <textarea nz-input formControlName="description" [nzAutosize]="{ minRows: 1, maxRows: 6 }"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzSpan="5" nzRequired nzFor="effect">商品作用</nz-form-label>
      <nz-form-control nzSpan="19">
        <textarea nz-input formControlName="effect" [nzAutosize]="{ minRows: 1, maxRows: 6 }"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzSpan="5" nzRequired nzFor="ingredient">商品成分</nz-form-label>
      <nz-form-control nzSpan="19">
        <textarea nz-input formControlName="ingredient" [nzAutosize]="{ minRows: 1, maxRows: 6 }"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control nzSpan="19" nzOffset="5">
          <button nz-button nzType="primary"  [disabled]="form.invalid" (click)="save()">确定</button>
          <button nz-button nzType="default" (click) = "close()">取消</button>
        </nz-form-control>
      </nz-form-item>
    <!--</div>-->
  </form>

<!--</nz-card>-->
