<form nz-form [formGroup]="form" (ngSubmit)="_submitForm()">
  <div class="clearfix">

    <nz-form-item>
      <nz-form-label nzSpan="5" nzRequired nzFor="receiver_name">商品名称</nz-form-label>
      <nz-form-control nzSpan="19">
        <input nz-input formControlName="receiver_name" id="receiver_name">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzSpan="5" nzRequired nzFor="receiver_name">商品图片</nz-form-label>
      <nz-form-control nzSpan="19">
        <nz-upload
          nzAction="https://jsonplaceholder.typicode.com/posts/"
          nzListType="picture-card"
          [(nzFileList)]="fileList"
          [nzShowButton]="fileList.length < 6"
          [nzPreview]="handlePreview">
          <i class="anticon anticon-plus"></i>
          <!--<div class="ant-upload-text">图片上传</div>-->
        </nz-upload>
        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
          <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
          </ng-template>
        </nz-modal>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzSpan="5" nzRequired>售卖规格</nz-form-label>
      <nz-form-control [nzSpan]="7">
        <nz-select formControlName="pay_account">
          <nz-option [nzLabel]="item.pay_account" [nzValue]="item.pay_account"></nz-option>
        </nz-select>
      </nz-form-control>
      <nz-form-label nzSpan="5" nzRequired>商品价格</nz-form-label>
      <nz-form-control [nzSpan]="7">
        <input nz-input formControlName="receiver_name" id="receiver_name1">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzSpan="5" nzRequired nzFor="receiver_name">产品信息</nz-form-label>
      <nz-form-control nzSpan="19">
        <textarea nz-input [nzAutosize]="{ minRows: 1, maxRows: 6 }"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzSpan="5" nzRequired nzFor="receiver_name">商品作用</nz-form-label>
      <nz-form-control nzSpan="19">
        <textarea nz-input [nzAutosize]="{ minRows: 1, maxRows: 6 }"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzSpan="5" nzRequired nzFor="receiver_name">商品成分</nz-form-label>
      <nz-form-control nzSpan="19">
        <textarea nz-input [nzAutosize]="{ minRows: 1, maxRows: 6 }"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzSpan="19" nzOffset="5">
        <button nz-button nzType="primary" [disabled]="form.invalid">下一步</button>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>
