<form nz-form [formGroup]="form" (ngSubmit)="_submitForm()">

  <nz-form-item class="border-top-1 mt-lg pt-lg">
    <nz-form-label nzSpan="24">钻石</nz-form-label>
    <nz-form-label nzSpan="5" nzRequired nzFor="receiver_name1">初次进货值</nz-form-label>
    <nz-form-control nzSpan="7">
      <input nz-input >
    </nz-form-control>
    <nz-form-label nzSpan="5" nzRequired nzFor="receiver_name2">最小补货值</nz-form-label>
    <nz-form-control nzSpan="7">
      <input nz-input  id="2">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="5" nzRequired nzFor="receiver_name3">购买价</nz-form-label>
    <nz-form-control nzSpan="7">
      <input nz-input id="3">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="border-top-1 mt-lg pt-lg">
    <nz-form-label nzSpan="24">翡翠</nz-form-label>
    <nz-form-label nzSpan="5" nzRequired nzFor="receiver_name1">初次进货值</nz-form-label>
    <nz-form-control nzSpan="7">
      <input nz-input >
    </nz-form-control>
    <nz-form-label nzSpan="5" nzRequired nzFor="receiver_name2">最小补货值</nz-form-label>
    <nz-form-control nzSpan="7">
      <input nz-input  id="5">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="5" nzRequired nzFor="receiver_name3">购买价</nz-form-label>
    <nz-form-control nzSpan="7">
      <input nz-input id="6">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="border-top-1 mt-lg pt-lg">
    <nz-form-label nzSpan="24">红宝石</nz-form-label>
    <nz-form-label nzSpan="5" nzRequired nzFor="receiver_name1">初次进货值</nz-form-label>
    <nz-form-control nzSpan="7">
      <input nz-input >
    </nz-form-control>
    <nz-form-label nzSpan="5" nzRequired nzFor="receiver_name2">最小补货值</nz-form-label>
    <nz-form-control nzSpan="7">
      <input nz-input  id="8">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="5" nzRequired nzFor="receiver_name3">购买价</nz-form-label>
    <nz-form-control nzSpan="7">
      <input nz-input id="9">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="border-top-1 mt-lg pt-lg">
    <nz-form-label nzSpan="24">白金</nz-form-label>
    <nz-form-label nzSpan="5" nzRequired nzFor="receiver_name1">初次进货值</nz-form-label>
    <nz-form-control nzSpan="7">
      <input nz-input >
    </nz-form-control>
    <nz-form-label nzSpan="5" nzRequired nzFor="receiver_name2">最小补货值</nz-form-label>
    <nz-form-control nzSpan="7">
      <input nz-input  id="11">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="5" nzRequired nzFor="receiver_name3">购买价</nz-form-label>
    <nz-form-control nzSpan="7">
      <input nz-input id="12">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="border-top-1 mt-lg pt-lg">
    <nz-form-label nzSpan="24">黄金</nz-form-label>
    <nz-form-label nzSpan="5" nzRequired nzFor="receiver_name1">初次进货值</nz-form-label>
    <nz-form-control nzSpan="7">
      <input nz-input >
    </nz-form-control>
    <nz-form-label nzSpan="5" nzRequired nzFor="receiver_name2">最小补货值</nz-form-label>
    <nz-form-control nzSpan="7">
      <input nz-input  id="14">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="5" nzRequired nzFor="receiver_name3">购买价</nz-form-label>
    <nz-form-control nzSpan="7">
      <input nz-input id="15">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="border-top-1 mt-lg pt-lg">
    <nz-form-label nzSpan="24">白银</nz-form-label>
    <nz-form-label nzSpan="5" nzRequired nzFor="receiver_name1">初次进货值</nz-form-label>
    <nz-form-control nzSpan="7">
      <input nz-input >
    </nz-form-control>
    <nz-form-label nzSpan="5" nzRequired nzFor="receiver_name2">最小补货值</nz-form-label>
    <nz-form-control nzSpan="7">
      <input nz-input  id="17">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="5" nzRequired nzFor="receiver_name3">购买价</nz-form-label>
    <nz-form-control nzSpan="7">
      <input nz-input id="18">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="19" [nzOffset]="5">
      <button nz-button [nzType]="'primary'" [nzLoading]="loading" [disabled]="form.invalid">提交</button>
      <button nz-button (click)="prev()">上一步</button>
    </nz-form-control>
  </nz-form-item>
</form>
